body{
  background-color: #f4f3f3 !important;
}

.form-container2 {
  /* background-color: #f8f8f8; */
  border-radius: 10px;
  width: 550px;
  padding: 10px;
  margin: 0px auto;

  margin-bottom: 50px;
}

.form-container2 h1 {
  text-align: center;
}

.blog-proname,
.blog-startdate,
.blog-enddate,
.blog-description,
.blog-technologies,
.blog-upload {
  margin-bottom: 15px;
  font-weight: bold;
}

.blog-date-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.blog-startdate,
.blog-enddate {
  width: 100%;
}

.blog-input,
.blog-textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  border-style: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.blog-textarea {
  resize: vertical;
}

.blog-checkbox {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-bottom: 15px;
}

.blog-box {
  padding: 5px;
}

/* UPLOAD FILE IMAGE */
.blog-upload input[type="file"] {
  border: none;
  padding: 0px 0;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.blog-upload input[type="file"]::file-selector-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.blog-upload input[type="file"]::file-selector-button:hover {
    transition: background-color 0.3s ease;
    background-color: #0056b3;
}

/* BUTTON */
.submit-btn-div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.submit-btn-div button {
  width: 80px;
  padding: 7px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn-div button:hover {
  background-color: orangered;
  transition: background-color 0.3s;
}

/* MEDIA SCREEN */
@media screen and (max-width: 600px) {
  .form-container2 {
    background-color: #f8f8f8;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin: 20px auto;
  }

  .blog-checkbox {
    gap: 100px;
  }
}
